@import './button.css';

body{
    background: #022333;
    font-family: 'Source Sans Pro', sans-serif;
}

.test{
    height: 900px;
}

.wrapper{
    max-inline-size: 900px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    position: relative;
}

.player video{
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
}

.player-title{
    color: white;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
    font-weight: 200;
    letter-spacing: 2px;
}

.player-actions{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-progress{
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}

.player-progress input{
    flex: 1;
}

.player-overlay{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
    background: rgba(0, 0, 0, 0.3);
}

.player:hover .player-overlay{
    opacity: 1;
}